/***
File: styles-mobile.css
Author: Michael Burnie
Website: www.michaelburnie.com
Description: These are the mobile CSS styles for my website.
***/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}